<div class="container">
    <!-- Header -->
    <div class="header">
        <img src="../../assets/icon/logo used in header.svg" class="logo-img">
    </div>
    <!-- Content -->
    <div class="content">
        <div class="login-card">
            <div class="form-title">
                <h2>Log in</h2>
            </div>
            <form action="post" class="login-form">

                <div class="credentials mb-33">
                    <input type="text" name="email" id="email" placeholder="Email ID*" class="full-input">
                    <p class="forgot">FORGOT USERNAME?</p>
                </div>

                <div class="credentials mb-26">
                    <div class="preview" style="display: flex;">
                        <input type="password" name="password" id="password" placeholder="Password*" class="full-input">
                        <img src="../../assets/icon/preview.svg" alt="">
                    </div>
                    <p class="forgot">FORGOT PASSWORD?</p>
                </div>

                <div class="input-div align-center mb-34">
                    <input type="checkbox" name="remember">
                    <p class="inline">Remember Me</p>
                </div>

                <input type="submit" value="LOG IN">
            </form>
            <div class="details">
                <p>Not registered yet?</p>
                <a href="">CREATE AN ACCOUNT</a>
            </div>
        </div>
    </div>

    
    <div class="menu">
        <a class="rightBorder" href="#">About</a>
        <a href="#">Contect Us</a>
    </div>

    

</div>
